<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width", initial-scale=1.0>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|Sen&display=swap" rel="stylesheet">
    <title>8.1 The Alpaca Fan Club Regitration</title>
  </head>

  <body>
    <div id="alpacaForm" v-cloak>
      <form>
        <fieldset>
          <legend>
            Fan Club Registration
          </legend>
          <!-- FIRST NAME -->
          <div>
            <label for="firstName">First Name</label>
            <input id="firstName" 
            v-model="firstName">
          </div>
          <!-- LAST NAME -->
          <div>
            <label for="lastName">Last Name</label>
            <input id="lastName" 
            v-model="lastName">
          </div>
          <!-- ADDRESS -->
          <div>
            <label for="street">Street Address</label>
            <input id="street" 
            v-model="street">
          </div>
          <!-- STATE -->
          <div>
            <label for="state">State</label>
            <select name="" id="state" v-model="state">
              <option v-for="state in availableStates" v-bind:value="state.value">{{state.name}}</option>
              </select>
          </div>
          <!-- COLOR -->
          <div class="alpaca-color">
            <p> Favorite Alpaca Colors</p>
            <div>
              <ul>
                <li v-for="color in colors">
                  <label v-bind:for="color.value"> 
                    <input type="checkbox" name="" v-model="selectedColors" id="" v-bind:value="color.value">{{color.name}}
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <!-- STATUS -->
          <div class="alpaca-status">
            <label>Alpaca Status</label>
            <textarea name="" id="" cols="30" rows="10" v-model="status">
              </textarea>
              
          </div>
        </fieldset>
        <!--OUTPUT-->
        <div class="output">
          <h3>Output</h3>
          First Name: {{firstName}}<br>
          Last Name: {{lastName}}<br>
          Address: {{street}}<br>
          State: {{status}}<br>
          Color: {{selectedColors}}<br>
          Status: {{status}}
        </div>
      </form>
      
    </div>
  <script src="vue.js"></script>
  <script src="script.js"></script>
  </body>
</html>
